button,
input, 
textarea {
 border: 1px solid white; 
 border-radius: 10px;
 padding: 10px;
 outline: none;
 width: 580px;
 margin-bottom: 10px;
 background: transparent;
 font-family: Poppins;
 font-size: 12px;
 color: white;
}

textarea {
  height: 100px;
  resize: none;
}

button {
 width: auto; 
 float: right;
}

/* customizacao do placeholder */
::placeholder {
  color: #CCCCCC;
}

iframe {
  width: 400px;
  border-radius: 10px;
}


input:focus,
textarea:focus {
  background: white;
  color: #1F2235;
}

:focus::placeholder {
  color: #1F2235;
}


button:active {
  color: #1F2235;
  background: white;
  cursor: pointer;
}

.erro {
  float: left;
  margin-top: 6px;
}

.input-erro {
  border: 2px dashed red;
}








