
body {
  background: #3B3D5D;
  margin: 0;
  font-family: Poppins, sans-serif;
  color: white;
}

header {
  background: #1F2235;
  height: 110px;
}

.container {
  /* border: 1px solid #FFFF00; */
  /* height: 110px; */
  width: 1170px;
  
 
  margin: 0 auto;

  background: #1F2235;
  padding: 36px 0 25px 0;
}


.menu {
  float: right;
}

.menu a {
  color: white;
  background: #FF4A57;
  padding: 12px 20px;
  font-size: 18px;
 
  display: inline-block;
  text-decoration: none;
}

.menu a:hover {
  color: #FF4A57;
  background: white;
  border-radius: 25px 0 0 25px;
}


section {
  /* border: 2px solid orange; */
  width: 1170px;
  margin: 70px auto 0 auto;
  height: 450px;
}

aside {

  height: 400px;
}


aside:first-child {
  width: 600px;
  float: left;
}

aside:last-child {
  width: 400px;
  float: right;
}






